.DS_Store
Thumbs.db

CMakeUserPresets.json

*.log
*.app
*.exe
*.war
*.zip
*-autosave.kra
*.dll
conan-deploy

[Bb]in/
[Oo]bj/
[Bb]uild/
[Tt]emp/
[Tt]mp/
[Ll]ogs/
[Rr]eleases/

emcc-cache
/.cache/
!/.github/**
!/.vscode/**
